h1 {
  font-family: Arial, Helvetica, sans-serif;
}
span {
  padding: 0;
}
#home-container {
  text-align: center;
}
#gen-button-div {
  text-align: center;
  vertical-align: middle;

  height: 80%;
}
.name {
  padding: 20px 0px 0px 0px;
}
.underline {
  width: 100px;
  padding-top: -10px;
}
.prevButton {
  margin: 20px;
}
.nextButton {
  margin: 20px;
}


