<div id="home-container">

  <div id="nameDiv">
    <h2 class="name">{{ nameService.generatedNames[nameService.nameIndex] | titlecase }}</h2>
  </div>
  <hr class=underline>

  <div id="gen-button-div">
    <button mat-button  class="prevButton" (click)="this.nameService.goToPreviousName()">
      <img class="prevImg" src="assets/images/left.svg"/>
    </button>

    <button mat-fab id="gen-button" color="black" title="Generate Name" (click)="this.name = nameService.generateRandomName()">
      <img src="assets/images/dice.svg" width="24px">
    </button>

    <button mat-button class="nextButton" (click)="this.nameService.goToNextName()">
      <img class="nextImg" src="assets/images/right.svg"/>
    </button>

  </div>

</div>
